{% extends 'base.html' %}

{% block link %}
  <link rel="stylesheet" href="custon.css" type="text/css">
{% endblock %}

{% block base %}

{% if message %}
<div class="alert alert-{{code}}" role="alert">
  {{ message }}
</div>
{% endif %}

<div id="register">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" action="/change_password" method="post">
            <input type="hidden" name="_csrf_token" value="{{ token }}">
            <h3 class="text-center text-info">Trocar de Senha</h3>
            <div class="form-group">
              <label for="new_password" class="text-info">Nova senha:</label><br />
                <input
                type="password"
                name="new_password"
                id="new_password"
                class="form-control"
                value="{%if form.data.new_password %}{{ form.data.new_password }}{% endif %}"
                />
              {% if form.errors.new_password %}
              <small id="helpnew_password" class="form-text text-danger">
                {{form.errors.new_password}}
              </small>
              {% endif %}
            </div>
            
            <div class="form-group">
              <label for="confirma_password" class="text-info">Confirmar senha:</label><br />
              <input
                type="password"
                name="confirma_password"
                id="confirma_password"
                class="form-control"
              />
            </div>
            <div class="form-group">
							&nbsp;
              <br />
              <input
                type="submit"
                name="submit"
                class="btn btn-info btn-md"
                value="Salvar"
              />
            </div>
            <div id="register-link" class="text-right">
              <a href="/blog" class="text-info">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
