{% extends 'base.html' %}

{% block link %}
  <link rel="stylesheet" href="custon.css" type="text/css">
{% endblock %}

{% block base %}
<div id="login">
  {% if message %}
  <div class="alert alert-{{code}}" role="alert">
    {{ message }}
  </div>
  {% endif %}
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" action="/register" method="post">
            <h3 class="text-center text-info">Novo registro</h3>
            <div class="form-group">
              <label for="username" class="text-info">Username:</label><br />
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br />
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
              />
            </div>
            <div class="form-group">
							&nbsp;
              <br />
              <input
                type="submit"
                name="submit"
                class="btn btn-info btn-md"
                value="Salvar"
              />
            </div>
            <div id="register-link" class="text-right">
              <a href="/" class="text-info">Fazer login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
